In [4]:
import pandas as pd
from tabulate import tabulate
m = pd.read_csv("museums.csv",low_memory=False)
# print(m.head(20))
print(m.info())
def to_tabulate(df, format):
    print(tabulate(df, headers="keys", tablefmt=format))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33072 entries, 0 to 33071
Data columns (total 25 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Museum ID                                 33072 non-null  int64
 1   Museum Name                               33072 non-null  object
 2   Legal Name                                33072 non-null  object
 3   Alternate Name                            1927 non-null   object
 4   Museum Type                               33072 non-null  object
 5   Institution Name                          2749 non-null   object
 6   Street Address (Administrative Location)  33062 non-null  object
 7   City (Administrative Location)            33072 non-null  object
 8   State (Administrative Location)           33072 non-null  object
 9   Zip Code (Administrative Location)        33072 non-null  object
 10  Street Address (Physical Location)        9216 non-null   object
 11  City (Physical Location)                  9223 non-null   object
 12  State (Physical Location)                 9223 non-null   object
 13  Zip Code (Physical Location)              9221 non-null   float64
 14  Phone Number                              22932 non-null  object
 15  Latitude                                  33007 non-null  float64
 16  Longitude                                 33007 non-null  float64
 17  Locale Code (NCES)                        32995 non-null  float64
 18  County Code (FIPS)                        30536 non-null  float64
 19  State Code (FIPS)                         33071 non-null  float64
 20  Region Code (AAM)                         33072 non-null  int64
 21  Employer ID Number                        27554 non-null  object
 22  Tax Period                                23280 non-null  float64
 23  Income                                    22961 non-null  float64
 24  Revenue                                   22290 non-null  float64
dtypes: float64(9), int64(2), object(14)
memory usage: 6.3+ MB
None

In [15]:
t = m["Museum Type"].unique()

In [16]:
t.tolist()

['HISTORY MUSEUM',
 'ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER',
 'SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM',
 'HISTORIC PRESERVATION',
 'GENERAL MUSEUM',
 'ZOO, AQUARIUM, OR WILDLIFE CONSERVATION',
 'ART MUSEUM',
 "CHILDREN'S MUSEUM",
 'NATURAL HISTORY MUSEUM']

In [48]:
# z = m["Museum Name"].str.contains("ZOO").any()
# df['conference'].str.contains('East').sum()
# df['col'].str.contains('partial_string').sum()

In [39]:
print(z)

0        False
1        False
2        False
3        False
4        False
         ...
33067    False
33068    False
33069    False
33070    False
33071    False
Name: Museum Name, Length: 33072, dtype: bool

In [40]:
z.count()

33072

In [54]:
s = m.groupby("Museum Name").Revenue.max().reset_index()

In [55]:
to_tabulate(s, "psql")

+----+---------------+-------------+
|    | Museum Name   |     Revenue |
|----+---------------+-------------|
|  0 | False         | 5.84035e+09 |
+----+---------------+-------------+

In [57]:
print("${:,.2f}".format(m['Revenue'].max()))

$5,840,349,457.00

In [60]:
m['Revenue'].idxmax()

1090

In [61]:
m[['Revenue']].idxmax()

Revenue    1090
dtype: int64

In [65]:
m.iloc[1090]

Museum ID                                                                   8409500460
Museum Name                                                                      False
Legal Name                                    PRESIDENT AND FELLOWS OF HARVARD COLLEGE
Alternate Name                                                                     NaN
Museum Type                                 SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM
Institution Name                                                    HARVARD UNIVERSITY
Street Address (Administrative Location)                             670 MT HOPKINS RD
City (Administrative Location)                                                   AMADO
State (Administrative Location)                                                     AZ
Zip Code (Administrative Location)                                                2138
Street Address (Physical Location)                                                 NaN
City (Physical Location)                                                           NaN
State (Physical Location)                                                          NaN
Zip Code (Physical Location)                                                       NaN
Phone Number                                                                       NaN
Latitude                                                                      42.36977
Longitude                                                                    -71.11216
Locale Code (NCES)                                                                 1.0
County Code (FIPS)                                                                17.0
State Code (FIPS)                                                                 25.0
Region Code (AAM)                                                                    1
Employer ID Number                                                            42103580
Tax Period                                                                    201306.0
Income                                                                   83181439574.0
Revenue                                                                   5840349457.0
Name: 1090, dtype: object

In [67]:
m['Revenue'].describe()

count    2.229000e+04
mean     2.097605e+07
std      2.485197e+08
min     -2.127393e+06
25%      0.000000e+00
50%      3.307000e+03
75%      1.676960e+05
max      5.840349e+09
Name: Revenue, dtype: float64

In [68]:
m[['Revenue']].describe()

            Revenue
count  2.229000e+04
mean   2.097605e+07
std    2.485197e+08
min   -2.127393e+06
25%    0.000000e+00
50%    3.307000e+03
75%    1.676960e+05
max    5.840349e+09

In [72]:
s = m[m["Museum Type"] == 'ZOO, AQUARIUM, OR WILDLIFE CONSERVATION']

In [80]:
def describeMuseumType(mtype):
    s = m[m["Muesum Type"] == mtype]
    print("Result for", mtype)
    print('revenue', s["Revenue"].describe())
    print('income', s["Income"].describe())

In [81]:
# describeMuseumType('ZOO, AQUARIUM, OR WILDLIFE CONSERVATION')