In [3]:
import pandas as pd
from tabulate import tabulate
m = pd.read_csv("museums.csv")
# print(m.head(20))
print(m.info())
def to_tabulate(df, format):
    print(tabulate(df, headers="keys", tablefmt=format))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33072 entries, 0 to 33071
Data columns (total 25 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Museum ID                                 33072 non-null  int64
 1   Museum Name                               33072 non-null  object
 2   Legal Name                                33072 non-null  object
 3   Alternate Name                            1927 non-null   object
 4   Museum Type                               33072 non-null  object
 5   Institution Name                          2749 non-null   object
 6   Street Address (Administrative Location)  33062 non-null  object
 7   City (Administrative Location)            33072 non-null  object
 8   State (Administrative Location)           33072 non-null  object
 9   Zip Code (Administrative Location)        33072 non-null  object
 10  Street Address (Physical Location)        9216 non-null   object
 11  City (Physical Location)                  9223 non-null   object
 12  State (Physical Location)                 9223 non-null   object
 13  Zip Code (Physical Location)              9221 non-null   float64
 14  Phone Number                              22932 non-null  object
 15  Latitude                                  33007 non-null  float64
 16  Longitude                                 33007 non-null  float64
 17  Locale Code (NCES)                        32995 non-null  float64
 18  County Code (FIPS)                        30536 non-null  float64
 19  State Code (FIPS)                         33071 non-null  float64
 20  Region Code (AAM)                         33072 non-null  int64
 21  Employer ID Number                        27554 non-null  object
 22  Tax Period                                23280 non-null  float64
 23  Income                                    22961 non-null  float64
 24  Revenue                                   22290 non-null  float64
dtypes: float64(9), int64(2), object(14)
memory usage: 6.3+ MB
None

/var/folders/7d/177p5yjd3691b3ytzr0fwn_00000gp/T/ipykernel_23526/2563051159.py:3: DtypeWarning: Columns (9,14,21) have mixed types. Specify dtype option on import or set low_memory=False.
  m = pd.read_csv("museums.csv")

In [23]:
most_museums = m.groupby(["City (Physical Location)", "State (Physical Location)"])["Museum Name"].count().reset_index()
to_tabulate(most_museums.head(50), "psql")
pivot_most_museums = most_museums.pivot(
    columns="State (Physical Location)",
    index="City (Physical Location)",
    values="Museum Name"
)
to_tabulate(pivot_most_museums.head(10), "psql")

+----+----------------------------+-----------------------------+---------------+
|    | City (Physical Location)   | State (Physical Location)   |   Museum Name |
|----+----------------------------+-----------------------------+---------------|
|  0 | 400 NEVIN AVE              | CA                          |             1 |
|  1 | AARONSBURG                 | PA                          |             2 |
|  2 | ABACOA JUPITER             | FL                          |             1 |
|  3 | ABBEVILLE                  | AL                          |             1 |
|  4 | ABBEVILLE                  | LA                          |             1 |
|  5 | ABBEVILLE                  | SC                          |             1 |
|  6 | ABBOT                      | ME                          |             1 |
|  7 | ABERDEEN                   | MD                          |             1 |
|  8 | ABERDEEN                   | NC                          |             1 |
|  9 | ABERDEEN                   | OH                          |             1 |
| 10 | ABERDEEN                   | WA                          |             1 |
| 11 | ABILENE                    | KS                          |             1 |
| 12 | ABILENE                    | TX                          |             6 |
| 13 | ABINGDON                   | IL                          |             1 |
| 14 | ABINGDON                   | MD                          |             1 |
| 15 | ABINGDON                   | VA                          |             2 |
| 16 | ABINGTON                   | PA                          |             1 |
| 17 | ABIQUIU                    | NM                          |             1 |
| 18 | ABSECON                    | NJ                          |             1 |
| 19 | ACCOMAC                    | VA                          |             1 |
| 20 | ACCORD                     | NY                          |             1 |
| 21 | ACTON                      | MA                          |             1 |
| 22 | ADA                        | MI                          |             1 |
| 23 | ADA                        | MN                          |             1 |
| 24 | ADA                        | OH                          |             1 |
| 25 | ADAIRSVILLE                | GA                          |             1 |
| 26 | ADAIRVILLE                 | KY                          |             1 |
| 27 | ADAMS                      | MN                          |             1 |
| 28 | ADAMSTOWN                  | MD                          |             1 |
| 29 | ADDISON                    | IL                          |             1 |
| 30 | ADDISON                    | PA                          |             1 |
| 31 | ADDISON                    | TX                          |             2 |
| 32 | AIKEN                      | SC                          |             2 |
| 33 | AINSWORTH                  | NE                          |             1 |
| 34 | AIRMONT                    | NY                          |             2 |
| 35 | AITKIN                     | MN                          |             1 |
| 36 | AJO                        | AZ                          |             1 |
| 37 | AKRON                      | OH                          |             3 |
| 38 | ALAMEDA                    | CA                          |             6 |
| 39 | ALAMOGORDO                 | NM                          |             4 |
| 40 | ALAMOSA                    | CO                          |             1 |
| 41 | ALBANY                     | GA                          |             6 |
| 42 | ALBANY                     | IL                          |             1 |
| 43 | ALBANY                     | MO                          |             1 |
| 44 | ALBANY                     | NY                          |             4 |
| 45 | ALBANY                     | OR                          |             2 |
| 46 | ALBANY                     | TX                          |             1 |
| 47 | ALBANY                     | VT                          |             1 |
| 48 | ALBEMARLE                  | NC                          |             2 |
| 49 | ALBERTVILLE                | AL                          |             1 |
+----+----------------------------+-----------------------------+---------------+
+----------------------------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
| City (Physical Location)   |   AK |   AL |   AR |   AZ |   CA |   CO |   CT |   DC |   DE |   FL |   GA |   HI |   IA |   ID |   IL |   IN |   KS |   KY |   LA |   MA |   MD |   ME |   MI |   MN |   MO |   MS |   MT |   NC |   ND |   NE |   NH |   NJ |   NM |   NV |   NY |   OH |   OK |   OR |   PA |   RI |   SC |   SD |   TN |   TX |   UT |   VA |   VT |   WA |   WI |   WV |   WY |
|----------------------------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------|
| 400 NEVIN AVE              |  nan |  nan |  nan |  nan |    1 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |
| AARONSBURG                 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |    2 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |
| ABACOA JUPITER             |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |    1 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |
| ABBEVILLE                  |  nan |    1 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |    1 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |    1 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |
| ABBOT                      |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |    1 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |
| ABERDEEN                   |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |    1 |  nan |  nan |  nan |  nan |  nan |  nan |    1 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |    1 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |    1 |  nan |  nan |  nan |
| ABILENE                    |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |    1 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |    6 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |
| ABINGDON                   |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |    1 |  nan |  nan |  nan |  nan |  nan |    1 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |    2 |  nan |  nan |  nan |  nan |  nan |
| ABINGTON                   |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |    1 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |
| ABIQUIU                    |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |    1 |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |  nan |
+----------------------------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+